<% if(locals.user) {%>
    <div class="d-flex m-0 mt-5 p-2 flex-wrap justify-content-center">
        <h1>MEMBERS</h1>
        <hr>
        <h2><li>SHWETAL TALAVDEKAR</li></h2>
        <h3></h3>
        <h3><li>Linkedin <a href="https://www.linkedin.com/in/shwetal-talavdekar-a1354b139/"></a></li></h3>
        <hr>
        <h2><li>SIDDHESH PAGAR</li></h2>
        <h3><li>Linkedin <a href="https://www.linkedin.com/in/shwetal-talavdekar-a1354b139/"></a></li></h3>


    </div>   